.yellow {
  background-color:yellow;
}

.orange {
  background-color:orange;
}

.green {
  background-color:green;
  color:white;
}

.blue {
  background-color:blue;
  color:white;
}

td {
  height: 100;
  width: 200;
  text-align:center;
}
